body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #eeeeee;
    margin: 0;
    color: #373a40;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #373a40 ;
    color: #eeeeee;
    margin: 0;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;


}

header h1 {
    font-size: 30px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #eeeeee;
    margin-right: 3px;
}


.exercise-container{
    display: flex;
    flex-direction: column;
    margin: 50px 20px;
    background-color: #373a40;
    color: #eeeeee;
    padding-top: 0;
}

.exercise-container h2 {
    background-color: #686d76;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.exercise-container form {
    display: flex;
    flex-direction: column;
    padding: 5px 40px;
}

.exercise-container input {
    margin-bottom: 15px;
}

.exercise-container form button {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    border:none;
    background-color: #686d76;
    color: #eeeeee;
    margin-top: 15px;
    margin-bottom: 15px;
}