body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #eeeeee;
    margin: 0;
    color: #373a40;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #373a40 ;
    color: #eeeeee;
    margin: 0;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;


}

header h1 {
    font-size: 30px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #eeeeee;
    margin-right: 3px;
}

.recipe {
    padding: 20px;
}

.recipe h2{
    margin: 0 0 10px 0;;
}

.title-add {
    display: flex;

}

.add-recipe {
    margin: 5px 0 10px 10px;
    font-size: 14px;
    height: 30px;
    background-color: #373a40;
    color: #eeeeee;
    font-family: 'Titillium Web', sans-serif;
    border: none;
    font-weight: 700;
}

.recipe ul li {
    list-style:  none;
}

.recipe ul li h3 {
    margin-bottom: 0;
}

.recipe ul li p {
    margin-top: 0;
}